{% extends 'main/base.html'%}

{%block title%}
Home
{%endblock%}
{% load crispy_forms_tags %}
{% load static %}
{%block content%}



{% include 'module/header.html' %}

<h1>Add profile </h1>
<div class="container">
<form method="post" action="/addprofile/">
          
        
        <div class="card" style="width: 35rem; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); margin:auto;">
            <div class="card-body">
                <form method="POST" class="form-group">
                    {% csrf_token %}
                    <div>
                        {{form|crispy}} 
                    </div>
                    <button type="submit" class="btn btn-success" name="save" value="save">Add New</button>
            </form>
            </div>
          </div>
     
    <!-- <button type="submit" name="save" value="save">Add New</button> -->
    
</form>
</div>


{%endblock%}