{% extends 'main/base.html'%}

{%block title%}
Home
{%endblock%}
{% load static %}
{%block content%}


{% include 'module/header.html' %}
<!-- add profile -->
<!-- modal -->
<br>

<div class="container">
  <!-- Button trigger modal -->
<button type="button" class="btn btn-outline-success"  style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);"><a href="/addprofile">
  Add New Profile
</a>
 
</button>

<!-- Modal -->


</div>

<br>

<!-- all Profiles -->
<div class="container">
  
  <h3 style="text-align: center;">All Profiles</h3>
  <hr>
  <br>
  <div class="row">
    
      {% for item in ls %}
          
              <!-- <li> {{ item.name }} </li>
              <li> {{ item.gender }} </li>
              <li> {{ item.date_of_birth }} </li> -->
              <div class="col-md-3">
              <div class="card mb-4"style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); margin:auto;">
                  
                  <div class="card-body">
                    <h5 class="card-title">{{ item.name }}</h5>
                    <hr>
                    <p class="card-text">
                     <p> Gender: {{ item.gender }}</p>
                      <p>Date of Birth: {{ item.date_of_birth }}</p>
                    </p>
                    
                  </div>
                </div>
              </div>
          
      {% endfor %}
      
     
  </div>
  <hr>
  </div>



<!-- End All profile -->



{%endblock%}